doctype html
html(lang=getLocale())
  head
    title= __('layout.title')
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="Title", content=__('layout.title'))
    meta(name="description", content=__('layout.description'))
    meta(name="keywords", content="emailing responsive, éditeur email, editeur emailing, éditeur template email, éditeur newsletter")
    meta(name="author", content="VOXmail")
    meta(name="application-name", content="Badsender Email Builder")
    meta(property="og:title", content="Badsender Email Builder")
    meta(property="og:image", content="http://agence.badsender.com/wp-content/uploads/2014/09/logo_badsender_154x118.png")
    meta(property="og:description", content="Editeur graphique de templates email par Badsender")
    meta(property="og:url", content="http://agence.badsender.com")
    meta(property="og:type", content="website")

    link(rel="canonical", href="http://agence.badsender.com")
    link(rel="shortcut icon", href="/favicon.png", type="image/png")
    link(rel="icon", href="/favicon.png", type="image/png")

    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')

  body
    header
      if _user.id
        a(href="/logout") logout
        | &nbsp;
        a(href="/") home
      if _user.isAdmin
        | &nbsp;
        a(href="/users") users
        | &nbsp;
        a(href="/wireframes") templates

    block content

    footer(style="background: #eee")
      pre= JSON.stringify(data, null, '  ')
      pre= _debug
