doctype html
html(lang=getLocale())
  head
    title= __('layout.title')
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="Title", content=__('layout.title'))
    meta(name="description", content=__('layout.description'))
    meta(name="keywords", content="emailing responsive, éditeur email, editeur emailing, éditeur template email, éditeur newsletter")
    meta(name="author", content="VOXmail")
    meta(name="application-name", content="Badsender Email Builder")
    meta(property="og:title", content="Badsender Email Builder")
    meta(property="og:image", content="http://agence.badsender.com/wp-content/uploads/2014/09/logo_badsender_154x118.png")
    meta(property="og:description", content="Editeur graphique de templates email par Badsender")
    meta(property="og:url", content="http://agence.badsender.com")
    meta(property="og:type", content="website")

    link(rel="canonical", href="http://agence.badsender.com")
    link(rel="shortcut icon", href="favicon.png", type="image/png")
    link(rel="icon", href="favicon.png", type="image/png")

    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="/badsender.css")

    script(src="/lib/badsender-lib-core.js")
    block head-content

  block content

  if formID
    script.
      window.ss_form = {
        account: 'MzYwNzawMDUxAwA',
        //- width: '100%',
        //- height: 1000,
        domain: 'app-3Q56OXU3WO.marketingautomation.services',
        formID: '#{formID}'
      };
    //- can't load asynchronously
    //- script use document.write(form) which is forbidden after page load
    script(src="https://koi-3Q56OXU3WO.marketingautomation.services/client/form.js?ver=1.1.1")
    script.
      document.querySelector('iframe').style.display = 'none'
    script(src="/contact-popup.js", async)
