doctype html

block vars

- var page  = pageClass || ''
- var title = pageTitle || ''

html(lang=getLocale())
  head
    include _head-material

  body.mdl-color--grey-100.mdl-color-text--grey-700(class=page)
    .mdl-layout.mdl-js-layout
      header.mdl-layout__header.mdl-layout__header--scroll
        .mdl-layout__header-row
          //- Title
          span.mdl-layout-title
            | #{__('home.welcome')} #{_user.name}
          //- Add spacer, to align navigation to the right
          .mdl-layout-spacer
          //- Navigation. We hide it in small screens
          nav.mdl-navigation
            if _user.isAdmin
              a.mdl-navigation__link(href="/admin"): i.material-icons people
              a.mdl-navigation__link(href="/wireframes"): i.material-icons web

            if getLocale() === 'en'
              a.mdl-navigation__link(href="/?lang=fr") version française
            else
              a.mdl-navigation__link(href="/?lang=en") english version

            a.mdl-navigation__link(href="/logout"): i.material-icons power_settings_new

      main.mdl-layout__content
        .page-content
          block create
          block list

      footer.home-badsender-footer
        .subscribe
          //- a(href="http://agency.badsender.com/production/email-builder/")= __('home.more-info')
          a(href="http://agence.badsender.com/production/email-builder/")= __('home.more-info')
        .footer
          | Badsender.com -
          |  #{__('home.footer.rights')}

      if _config.debug
        footer(style="background: #eee; text-align: left")
          pre= JSON.stringify(data, null, '  ')
          pre= _debug

    //- dialogs box should be a child of <body>
    //- https://github.com/GoogleChrome/dialog-polyfill#limitations
    block dialog

    #notification.mdl-js-snackbar.mdl-snackbar
      .mdl-snackbar__text
      .mdl-snackbar__action(type="button")

    //- Put some i18n here to be accessible for home JS application
    script.
      window.badesenderI18n = {
        snackbarDeleteMessage: '!{__('home.snackbar.deleteMessage')}',
        snackbarRenameMessage: '!{__('home.snackbar.renameMessage')}',
        snackbarError: '!{__('home.snackbar.errorMessage')}',
      };
    script(defer src="/badsender-home.js")
