extends _layout-editor.jade

block head-content

  script.
    $(function() {
      if (!Badsender.isCompatible()) {
        alert('Update your browser!');
        return;
      }
      // var basePath = window.location.href.substr(0, window.location.href.lastIndexOf('/')).substr(window.location.href.indexOf('/','https://'.length));
      var basePath  = window.location.protocol + '//' + '#{_config.host}';
      var plugins   = [];
      // A basic plugin that expose the "viewModel" object as a global variable.
      // plugins = [function(vm) {window.viewModel = vm;}];
      var ok = Badsender.init({
        strings:                !{data.translations},
        metadata:               !{printJS(data.meta)},
        data:                   !{ data.data ? printJS(data.data) : printJS('{}')},
        imgProcessorBackend:    basePath + '/img/',
        emailProcessorBackend:  basePath + '/dl/',
        titleToken:             'BADSENDER Responsive Email Designer',
        fileuploadConfig: {
          //- don't prepend basePath
          //- CORS errors can occur while using browsersync
          url: '/editor/#{data.meta.id}/upload',
          // messages??
        },
        //- TinyMCE
        tinymceConfigFull: {
          toolbar1: 'bold italic forecolor backcolor hr fontsizeselect styleselect removeformat | link unlink | pastetext code',
          //- add colorpicker
          //- https://www.tinymce.com/docs/plugins/colorpicker/
          plugins: ["link hr paste lists textcolor colorpicker code"],
          //- https://www.tinymce.com/docs/configure/content-formatting/#style_formats
          style_formats: [
            {title: 'Inline', items: [
              {title: 'Bold'         , icon: "bold"         , inline: 'strong'},
              {title: 'Italic'       , icon: "italic"       , inline: 'em'},
              {title: 'Underline'    , icon: "underline"    , inline: 'span', styles: {'text-decoration' : 'underline'}},
              {title: 'Strikethrough', icon: "strikethrough", inline: 'span', styles: {'text-decoration' : 'line-through'}},
              {title: 'Superscript'  , icon: "superscript"  , inline: 'sup'},
              {title: 'Subscript'    , icon: "subscript"    , inline: 'sub'},
              {title: 'Code'         , icon: "code"         , inline: 'code'}
            ]},
            {title: 'Alignment', items: [
              {title: 'Left'   , icon: "alignleft"   , block: 'div', styles: {'text-align' : 'left'}},
              {title: 'Center' , icon: "aligncenter" , block: 'div', styles: {'text-align' : 'center'}},
              {title: 'Right'  , icon: "alignright"  , block: 'div', styles: {'text-align' : 'right'}},
              {title: 'Justify', icon: "alignjustify", block: 'div', styles: {'text-align' : 'justify'}}
            ]}
          ],
        },
      }, plugins);
      if (!ok) {
        console.error("config not setted properly");
        $('.mo-standalone').html('<h1>error</h1><h2>config not setted properly</h2>')
      }
    });
