extends _layout-home.jade

block create
  header.home-badsender-header
    div: img(src="/media/logo_badsender_154x118.png")
    .ribbon Badsender Email Builder
    p= __('home.make-creation')

  div
    if !data.wireframes.length
      p no wireframes yet
    else
      each wireframe in data.wireframes
        if (wireframe.hasMarkup)
          .template.template-xx(class="template template-#{name}")
            .description
              b= wireframe.name
              span= wireframe.description
            a(href='/editor?wireframeId=' + wireframe._id)
              img(src=wireframe.imgPath + '_full.png' width="100%" alt="xx")

block list
  if !data.creations.length
    p= __('home.no-content')
  else
    //- modification du nom directement depuis le tableau
    div.table-container
      table#savedTable.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
        caption= __('home.saved.caption')
        thead: tr
          if _config.debug
            th.mdl-data-table__cell--non-numeric Id
          th.mdl-data-table__cell--non-numeric= __('home.saved.name')
          th.mdl-data-table__cell--non-numeric= __('home.saved.created')
          th.mdl-data-table__cell--non-numeric= __('home.saved.last-change')
          th.mdl-data-table__cell--non-numeric= __('home.saved.rename')
          th.mdl-data-table__cell--non-numeric= __('home.saved.edit')
          th.mdl-data-table__cell--non-numeric= __('home.saved.delete')
        tbody(data-bind="foreach: edits")
          each creation in data.creations
            - var editUrl = '/editor/' + creation._id;
            tr
              if _config.debug
                td.mdl-data-table__cell--non-numeric
                  a(href=editUrl)= creation._id
              td.mdl-data-table__cell--non-numeric
                a(href=editUrl).js-name= creation.name || __('home.saved.noname')
              //-   span versamix
              td.mdl-data-table__cell--non-numeric: span= formatDate(creation.createdAt)
              td.mdl-data-table__cell--non-numeric: span= formatDate(creation.updatedAt)
              td.mdl-data-table__cell--non-numeric
                a.js-rename.operationButton(data-href=editUrl title="rename" href="#"): i.material-icons title
              td.mdl-data-table__cell--non-numeric
                a.operationButton(href=editUrl title="edit"):  i.material-icons mode_edit
              //- ajout d'un bouton dupliquer
              td.mdl-data-table__cell--non-numeric
                a.operationButton(href=editUrl + '/delete' title="delete"): i.material-icons delete


