extends _layout.jade

block head-content
  meta(name="viewport", content="width=480, initial-scale=1")
  link(rel="stylesheet", href="/badsender-home.css")

block content
  body
    header
      .lang
        if getLocale() === 'en'
          a(href="/?lang=fr") version française
        else
          a(href="/?lang=en") english version

      div: img(src="/media/logo_badsender_154x118.png")
      .ribbon Badsender Email Builder
    main(role="main").content
      h3 Demo
      p= __('home.click-to-try')
      div
        if !data.wireframes.length
          p no wireframes yet
        else
          each wireframe in data.wireframes
            if (wireframe.hasMarkup)
              .template.template-xx(class="template template-#{name}")
                .description
                  b= wireframe.name
                  span= wireframe.description
                a(href='/editor?wireframeId=' + wireframe._id)
                  img(src=wireframe.imgPath + '_full.png' width="100%" alt="xx")

    footer
      .subscribe
        a(href="http://agency.badsender.com/production/email-builder/")= __('home.more-info')
      .footer
        | Badsender.com -
        |  #{__('home.footer.rights')}
