extends _layout-home.jade

block create
  header.home-badsender-header
    div: img(src="/media/logo_badsender_154x118.png")
    .ribbon Badsender Email Builder
    h6= __('home.make-creation')

  if !data.wireframes.length
    h4.home-subtitle= __('home.no.wireframes')
  else
    .mdl-grid
      each wireframe, index in data.wireframes
        - var push = data.wireframes.length === 1 && index === 0 ? 'mdl-cell--4-offset-desktop' : data.wireframes.length === 2 & index === 0 ? 'mdl-cell--2-offset-desktop' : '';
        if (wireframe.hasMarkup)
          a(href='/editor?wireframeId=' + wireframe._id class=push).mdl-cell.mdl-card.mdl-shadow--4dp.wireframe-card
            .mdl-card__media.mdl-color--primary
              img(src=wireframe.imgPath + '_full.png' width="100%" alt="xx")
            .mdl-card__title: h2.mdl-card__title-text= wireframe.name
            if wireframe.description
              .mdl-card__supporting-text= wireframe.description

block list
  if data.creations.length
    h4.home-subtitle= __('home.saved.caption')
    table#savedTable.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
      thead: tr
        if _config.debug
          th.mdl-data-table__cell--non-numeric Id
        th.mdl-data-table__cell--non-numeric= __('home.saved.name')
        th.mdl-data-table__cell--non-numeric= __('home.saved.created')
        th.mdl-data-table__cell--non-numeric= __('home.saved.last-change')
        th.mdl-data-table__cell--action= __('home.saved.rename')
        th.mdl-data-table__cell--action= __('home.saved.edit')
        th.mdl-data-table__cell--action= __('home.saved.duplicate')
        th.mdl-data-table__cell--action= __('home.saved.delete')

      tbody(data-bind="foreach: edits")
        each creation in data.creations
          - var editUrl = '/editor/' + creation._id;
          tr
            if _config.debug
              td.mdl-data-table__cell--non-numeric
                a(href=editUrl)= creation._id
            td.mdl-data-table__cell--non-numeric
              a(href=editUrl).js-name= creation.name || __('home.saved.noname')
            //-   span versamix
            td.mdl-data-table__cell--non-numeric: span= formatDate(creation.createdAt)
            td.mdl-data-table__cell--non-numeric: span= formatDate(creation.updatedAt)
            td.mdl-data-table__cell--action
              a.js-rename.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent(data-href=editUrl title="rename" href="#"): i.material-icons title
            td.mdl-data-table__cell--action
              a.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent(href=editUrl title="edit"):  i.material-icons mode_edit
            td.mdl-data-table__cell--action
              a.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent(href=editUrl + '/duplicate' title="duplicate"):  i.material-icons content_copy
            td.mdl-data-table__cell--action
              a.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent(href=editUrl + '/delete' title="delete"): i.material-icons delete


