extends _layout-admin.jade

block content
  - var hasError  = messages.error && messages.error.length;
  - var errors    = hasError ? messages.error[0] : {};
  - var user      = data && data.user ? data.user : {};
  - var isEdit    = user._id
  - var action    = isEdit ? `/users/${user._id}` : `/users`;
  if isEdit
    h1 edit user ##{user._id}
  else
    h1 new user
  form(action=action method="post")
    if user._id
      input(type="text" name="id" value=user._id)
    fieldset
      label(for="email")
        div email
        input(type="email" name="email" required value=user.email)
      if errors.email
        p= errors.email.message
      label(for="name")
        div name
        input(type="text" name="name" value=user.name)
    button(type="submit") submit

  if isEdit
    h1 current wireframes
    h3: a(href='/users/' + user._id + '/wireframe') new wireframe

    if !data.wireframes.length
      p no wireframes yet
    else
      table(border="1")
        thead
          tr
            th id
            th name
        tbody
          each wireframe in data.wireframes
            tr
              td
                a(href='/users/' + wireframe.userId + '/wireframe/' + wireframe._id)= wireframe._id
              td= wireframe.name
