extends _layout-admin.jade

block vars
  - var user      = data && data.user ? data.user : {};
  - var isEdit    = user._id
  - var pageTitle = isEdit ? 'user: ' + user.name : 'new user'
  - var pageClass = 'full-width-layout'

block content
  - var user        = data && data.user ? data.user : {};
  - var isEdit      = user._id
  - var action      = isEdit ? user.url.show : `/users`;
  - var hasError    = messages.error && messages.error.length;
  - var errors      = hasError ? messages.error[0] : {};

  //- /////////
  //- LEFT COLUMN
  //- /////////

  .mdl-cell.mdl-cell--3-col.mdl-color--accent-contrast.mdl-shadow--4dp
    ul.mdl-list
      if isEdit
        li.mdl-list__item: a.mdl-list__item-primary-content(href=user.url.company)
          .material-icons.mdl-list__item-icon group
          | #{user._company.name}
      else
        li.mdl-list__item: a.mdl-list__item-primary-content(href=data.company.url.show)
          .material-icons.mdl-list__item-icon group
          | #{data.company.name}

  //- /////////
  //- MAIN CONTENT
  //- /////////

  form(action=action method="post").mdl-cell.mdl-cell--9-col
    .mdl-grid
      fieldset.mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
        if user._id
          input(type="hidden" name="id" value=user._id)
        if !isEdit
          input(type="hidden" name="_company" value=data.company._id)
        .mdl-card__title
          .mdl-card__title-text informations
        .mdl-card__supporting-text: .mdl-grid
          .mdl-cell.mdl-cell--6-col
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(class= errors.email ? 'is-invalid' : '')
              input.mdl-textfield__input#email-field(type="email" name="email" required value=user.email disabled=isAffecting)
              label.mdl-textfield__label(for="email-field") email
              if errors.email
                span.mdl-textfield__error= errors.email.message
          .mdl-cell.mdl-cell--6-col
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label(class= errors.name ? 'is-invalid' : '')
              input.mdl-textfield__input#name-field(type="text" name="name" value=user.name disabled=isAffecting)
              label.mdl-textfield__label(for="name-field") name
              if errors.name
                span.mdl-textfield__error= errors.name.message

          .mdl-cell.mdl-cell--6-col
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              select.mdl-textfield__input#lang-field(name="lang" disabled=isAffecting)
                option(value="en" selected=user.lang==='en') english
                option(value="fr" selected=user.lang==='fr') french
              label.mdl-textfield__label.mdl-textfield__label--fixed(for="lang-field") default language

      button(type="submit").mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
        i.material-icons save

      //- /////////
      //- CREATIONS
      //- /////////

      if isEdit
        .mdl-cell.mdl-cell--12-col.mdl-cell--top.mdl-card.mdl-shadow--2dp
          .mdl-card__title
            .mdl-card__title-text own creations

          if !data.creations.length
            .mdl-card__supporting-text: p no creations yet
          else
            table.mdl-data-table.mdl-js-data-table
              thead: tr
                if _config.debug
                  th.mdl-data-table__cell--non-numeric Id
                th.mdl-data-table__cell--non-numeric= __('home.saved.name')
                th.mdl-data-table__cell--non-numeric= __('home.saved.wireframe-name')
                th.mdl-data-table__cell--non-numeric= __('home.saved.created')
                th.mdl-data-table__cell--non-numeric= __('home.saved.last-change')
              tbody
                each creation in data.creations
                  tr
                    if _config.debug
                      td.mdl-data-table__cell--non-numeric
                        a(href=creation.url.update)= creation._id
                    td.mdl-data-table__cell--non-numeric
                      a(href=creation.url.update).js-name= creation.name || __('home.saved.noname')
                    td.mdl-data-table__cell--non-numeric: span= creation._wireframe.name
                    td.mdl-data-table__cell--non-numeric: span= formatDate(creation.createdAt)
                    td.mdl-data-table__cell--non-numeric: span= formatDate(creation.updatedAt)

