extends _layout-admin.jade

block vars
  - var isEdit    = data.wireframe != null;
  - var wireframe = data.wireframe || {};
  - var pageTitle = isEdit ? 'wireframe: ' + wireframe.name : 'new wireframe'
  - pageTitle     = isEdit ? pageTitle + ' — user: ' + wireframe._user.name : pageTitle
  - var pageClass = 'wireframe-new-edit'

block content
  - var hasError  = messages.error && messages.error.length;
  - var errors    = hasError ? messages.error[0] : {};
  - var isEdit    = data.wireframe != null;
  - var action    = '/users/' + data._user + '/wireframe';
  - var wireframe = data.wireframe || {};
  - action        = isEdit ? action + '/' + wireframe._id : action;

  //- .mdl-grid.mdl-grid--no-spacing

  if isEdit
    - var deleteUrl = wireframe.url.delete + '?redirect=/users/' + data._user
    .mdl-cell.mdl-cell--2-col.mdl-color--accent-contrast.mdl-shadow--4dp
      ul.mdl-list
        li.mdl-list__item: a.mdl-list__item-primary-content(href='/users/' + data._user)
          .material-icons.mdl-list__item-icon person
          | back to user
        li.mdl-list__item: a.mdl-list__item-primary-content(href='/editor?wireframeId=' + wireframe._id)
          .material-icons.mdl-list__item-icon library_add
          | create mailing
        if !wireframe.hasMarkup
          li.mdl-list__item: span.mdl-list__item-primary-content(style="color: #d50000")
            .material-icons.mdl-list__item-icon report_problem
            | NO MARKUP
        li.mdl-list__item: span.mdl-list__item-primary-content deleting a wireframe will also remove every creations using this one
        li.mdl-list__item: a.mdl-list__item-primary-content(href=deleteUrl)
          .material-icons.mdl-list__item-icon delete_forever
          | delete

  form(action=action method="post" enctype="multipart/form-data" class=isEdit ? 'mdl-cell--10-col' : 'mdl-cell--12-col').mdl-cell
    input(name="_user" type="hidden" value=data._user)
    .mdl-grid
      fieldset.mdl-cell.mdl-cell--6-col.mdl-card.mdl-shadow--2dp(class=isEdit ? '' : 'mdl-cell--3-offset-desktop')
        .mdl-card__title: .mdl-card__title-text meta
        .mdl-card__supporting-text
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input#name-field(type="text" name="name" required value=wireframe.name)
            label.mdl-textfield__label(for="name-field") name
            if errors.name
              span.mdl-textfield__error= errors.name.message
          .mdl-textfield.mdl-js-textfield
            textarea.mdl-textfield__input#description-field(type="text" rows="1" name="description")=wireframe.description
            label.mdl-textfield__label(for="description-field") Description
      if isEdit
        fieldset.mdl-cell.mdl-cell--6-col.mdl-card.mdl-shadow--2dp
          .mdl-card__title: .mdl-card__title-text files
          .mdl-card__supporting-text
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input.mdl-textfield__input#markup-field(type="file" accept=".html" name="markup")
              label.mdl-textfield__label.mdl-textfield__label--fixed(for="markup-field") Markup
              if errors.markup
                span.mdl-textfield__error= errors.markup.message
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input.mdl-textfield__input#images-field(type="file" accept=".png,.gif,.jpg" multiple name="images")
              label.mdl-textfield__label.mdl-textfield__label--fixed(for="images-field") Images
        //- HTML preview block
        if wireframe.hasMarkup
          .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
            .mdl-card__title: .mdl-card__title-text Markup
            details.mdl-card__supporting-text
              summary show
              pre= wireframe.markup

            .mdl-card__actions.mdl-card--border
              a(href='/wireframes/' + wireframe._id + '/markup').mdl-button.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect
                | download markup

        //- Image listing
        if wireframe.images.length
          .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--2dp
            .mdl-card__title: .mdl-card__title-text Images (#{wireframe.images.length})
            details.mdl-card__supporting-text
              summary show
              ul
                for image in wireframe.images
                  li: a(href='/img/' + image)= image

    button(type="submit").mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
      i.material-icons save

  if (messages.success)
    #notification.mdl-js-snackbar.mdl-snackbar.mdl-snackbar--active
      .mdl-snackbar__text
        each message in messages.success
          span= message
      button.mdl-snackbar__action(type="button")

    script.
      (function() {
      'use strict';
        setTimeout(function () {
          document.querySelector('#notification').classList.remove('mdl-snackbar--active')
        }, 2700)
      }())
