extends _layout-admin.jade

block content
  - var hasError  = messages.error && messages.error.length;
  - var errors    = hasError ? messages.error[0] : {};
  - var isEdit    = data.wireframe != null;
  - var action    = '/users/' + data.userId + '/wireframe';
  - var wireframe = data.wireframe || {};
  - action        = isEdit ? action + '/' + wireframe._id : action;
  if isEdit
    h1 edit wireframe ##{wireframe._id}
  else
    h1 new wireframe

  //- images uploadées sur le bucket courant

  form(action=action method="post" enctype="multipart/form-data")
    input(name="userId" value=data.userId)
    fieldset
      label
        div Name
        input(name="name" value=wireframe.name)
      if errors.name
        p= errors.name.message
      label
        div Description
        textarea(name="description")=wireframe.description
    if isEdit
      fieldset
        label
          div Markup
          input(type="file" accept=".html" name="markup")
        if errors.markup
          p= errors.markup.message
        label
          div Preview Images <small>(edres)</small>
          input(type="file" accept=".png,.gif,.jpg" multiple name="edres")

    if isEdit
      if wireframe.hasMarkup
        details
          summary show markup
          pre= wireframe.markup
      else
        p ! NO MARKUP <br> fix this by uploading a new html file

    button(type="submit") submit
    if isEdit
      - var deleteUrl = '/wireframes/' + wireframe._id + '/delete'
      - deleteUrl = deleteUrl + '?redirect=/users/' + data.userId
      p deleting a wireframe will also remove every creations using this one
      h4: a(href=deleteUrl) delete
